
body, html {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}
  
.fg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size:40px;
}
